
<div class="link">
	<p>Hello, I am your coach, what did you want to tell me?</p>
	<form action="/answer">
	  <label for="question"></label>
	  <input type="text" id="question" name="answer" placeholder="Enter your answer">
	  <input type="submit" value="Submit">
	</form>
</div>
